# Note that the example .travis.yml file for child projects lives in /install.
sudo: false
language: php

php:
  - 5.5

cache:
  bundler: true
  apt: true
  directories:
  - "$HOME/.composer/cache"
  - "$HOME/.drush/cache"

env:
  matrix:
    - TEST_SUITE='validate:all'
    - TEST_SUITE='build:test'
    - TEST_SUITE='build:validate:test'

addons:
  ssh_known_hosts:
  # - svn-4786.devcloud.hosting.acquia.com

notifications:
  # Replace this with project slack token.
  # slack: acquia:KKfgpOkDhcO26Erv5uoZMfdP4

before_install:
  - composer selfupdate
  - git config --global user.name "Travis-CI"
  - git config --global user.email "noreply@travis-ci.org"
  - mysql -e 'CREATE DATABASE drupal;'
  # Install proper version of node for front end tasks.
  - nvm install 0.12
  - npm install -g gulp
  - npm install -g bower

install:
  # Load composer dependencies.
  - composer install
  - export PATH=$PATH:$TRAVIS_BUILD_DIR/bin

before_script:
  # Clear drush release history cache, to pick up new releases.
  - rm -f ~/.drush/cache/download/*---updates.drupal.org-release-history-*

script:
  - ./task.sh -Dbehat:run-server=true $TEST_SUITE

after_success:
  # Watch for successful `build:validate:test` build job on `master` branch; deploy to `master-build`.
  # - scripts/deploy/travis-deploy.sh build:validate:test master master-build
  # Watch for successful `build:validate:test` build job on `develop` branch; deploy to `develop-build`.
  # - scripts/deploy/travis-deploy.sh build:validate:test develop develop-build
