# Local configuration.
default:
  context:
    parameters:
      environment:
      # absolute path to local directory to store screenshots - do not include trailing slash
        screenshot_dir: '/Users/username/Desktop/test'
  extensions:
    Behat\MinkExtension\Extension:
      # configure the base url for your site
      base_url: 'http://site.dev'
      # ADDITIONAL OPTIONS FOR WEB DRIVERS
      # use the following 3 lines to user phantomjs
      # browser_name: phantomjs
      # selenium2:
      #   wd_host: "http://localhost:8643/wd/hub"
      # 
      # use the following two lines for chromedriver
      # selenium2:
      #   browser: chrome
    Drupal\DrupalExtension\Extension:
      # Set this drush alias in your aliases.drushrc.php file to match
      # the base_url set above. Leave off the preceding '@'.
      drush:
        alias: 'dev.site'
      region_map:
        Content: "div.content"
        Header: "header"
        Footer: "footer"
        NodeBodyField: "div.form-item-body-und-0-value"
        NodeVideosField: "#field-videos-values"
        NodeMainImageField: "div.field-name-field-image"
      selectors:
        message_selector: '.messages'
        error_message_selector: '.messages.error'
        success_message_selector: '.messages.status'